body{
	font-family: calibri;
    overflow: hidden;
    background:linear-gradient(20deg , rgb(180, 6, 166) , rgb(22, 27, 107)); 
    touch-action: none;
	


}

#container{
	width:350px;
	margin: 50px;
	overflow: hidden;
	background: linear-gradient(20deg , rgb(180, 6, 166) , rgb(22, 27, 107)); 
	
	padding: 5px;
	
	white-space: nowrap;
    height: 690px;
    margin-left: -8px;
   
   
}

#display{
	font-size:30pt;
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	color: rgb(255, 255, 255);
	

	
}

#miniDisplay{
	font-size:16pt;
	color: rgba(192, 192, 192, 0);
	padding: 10px;
	text-align: right;
}
button{
	width:77px;
	height:75px;
	border:0;
	outline:0;
	font-weight: bolder;
	margin:5px;
	border-radius:10px;
	background: linear-gradient(40deg , rgb(14, 199, 199) , rgb(52, 224, 0), rgb(255, 238, 0));
	backdrop-filter: blur(15px);
	font-size:16pt;
	font-family: calibri;
	float:left;
	
}

.fn{
	width:50px;
	 background:none; 
	color: rgb(21, 255, 0);
	
}

button:hover{
	background:rgb(240,240,250);
}

#equal{
	background:rgb(28,116,244);
	color:white;
}

#equal:hover{
	background:rgb(48, 136, 250);
}
footer{
    
    text-align: center;
    margin-top: -55px;
    /* background-color: rgba(0, 255, 191, 0.473); */
    border-radius: 20px;
    padding: 5px;
    color: rgb(0, 238, 255);
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgb(0, 238, 255);
    font-size: 20px;
    font-family: 'Belanosima', sans-serif;
	bottom: 70px;
	position: relative;


}

  
